* {
  margin: 0;
  padding: 0;
  font-family: 'Clash-Display', 'Arial Narrow', Arial, sans-serif; 
  font-size: 1rem;
  line-height: 2rem;
  background-color: var(--m-fondo);
  color: var(--m-texto);
  scroll-behavior: smooth;
}

:root {
  --m-fondo: var(--azul-100);
  --m-negro: #080808;
  --m-texto: var(--azul-500);
  --m-azul-claro: #C7EDE4;
  --m-azul-oscuro: #091540;
  
  /* paleta */
  --azul-100: #F2F2FF;
  --azul-200: #BCC1FD;
  --azul-300: #808FEF;
  --azul-400: #425BC8;
  --azul-500: #0F2A7D;
  --azul-600: #052367;
  --azul-700: #011F52;
  --azul-800: #001A3C;
  --azul-900: #001226;
  ;
}

@font-face {
  font-family: 'Clash-Display';
  src: url(/fonts/ClashDisplay-Regular.ttf);
}

@font-face {
  font-family: 'Clash-Display';
  src: url(/fonts/ClashDisplay-Bold.ttf);
  font-weight: bold;
}


body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 360px;
  text-align:justify;
  max-width: 900px;
}

#indice {
  display: flex;
  justify-content: center;
}

nav {
  text-align: left;
  margin: 50px;
 }

h3 {
  font-size: 1.2em;
  margin-top: 0.5em;
  text-align: left;
  line-height: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-type: mandatory;
}

& section {
  flex: 0 0 auto;
  padding: 15px;
  scroll-snap-align: start;
}

& h2 {
  text-align: left;
  font-size: 2rem;
  color: var(--azul-600);
  margin-bottom: 0.2em;
  
}

& p {
  font-size: 1em;
  line-height: 1.5rem;
  text-wrap: wrap;
  margin-bottom: 0.5em;
}

& .definicion {
  margin: 15px;
  font-weight: 300;
  font-style: italic;
}

strong {
  font-weight: bold;
  line-height: 1.5rem;
}

ul {
  margin: 0 30px;
}
& li {
  line-height: 1.5rem;
  margin-bottom: 0.5em;
}

.strong {
  list-style: none;
}

.inter {
  line-height: 1em;
}

li.strong:before {
  content: "*";
  position: relative;
  left: -15px;
  bottom: -3px;
}

footer {
  text-align: center;
  margin-top: auto;
} 
/* body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

 .wrapper-content {
  flex-direction: column;
  justify-items: center;
  scroll-snap-type: mandatory;
  height: 100vh;
  flex: 1;
}

*/