---
import Layout from "../layouts/Layout.astro"
---
<Layout >
  <div class="wrapper-content">
  <section id="que-entendemos-por-violencia-institucional">
    <h2>¿Qué entendemos por violencia institucional?</h2>

    <p>Entendemos por violencia institucional, a toda violencia física, psíquica o verbal ejercida por miembros de las fuerzas de seguridad, fuerzas armadas, servicio penitenciario o efectores de salud en contexto de restricción de la autonomía, que afecte la libertad, la integridad o la dignidad de una persona. </p>
  </section>

  <section id="tengo-derecho-a">
    <h2> Tengo Derecho a:</h2>
  
    <p>Transitar libremente sin que las fuerzas de seguridad me detengan, solo me pueden detener si existe una orden judicial o una sospecha de haber cometido un delito o contravención.</p>
  
    <p>Si bien no es obligatorio, es importante circular con D.N.I., o cualquier otro documento que acredite tu identidad. No pueden retener tu DNI.</p>
  
    <p>Solo en caso de que exista una sospecha fundada y no tengas ninguna identificación, la policía puede demorarte para averiguar tu identidad sin necesidad de contar con una orden judicial. Esta privación de tu libertad nunca puede extenderse por más de 12 horas en la Provincia de Buenos Aires y 10 horas en CABA. </p>
    
    <p class="definicion">Requisa: Solo pueden revisar tus pertenencias sin orden judicial cuando se presuma la comisión de un delito, y es importante la individuación del objeto que se busca con tal requisa. Deben contar con la presencia de dos testigos. </p>
  </section> 

  <section id="cuando-me-detienen"> 
    <h2>¿Qué pasa cuando ya me detienen? </h2>
    <ul>
      <li>Deben dar aviso a Fiscalía, Juez y Defensoría oficial de turno. Tenés derecho a saber a saber esa información y en qué dependencia estás, y a realizar una llamada telefónica con un familiar, persona de confianza, abogado o miembro de una organización.</li>
      <li>Es importante que no mientas respecto a tu nombre y edad.</li>
      <li>En el caso del domicilio, es importante que cuando vaya la policía a constatar alguien los atienda y diga que vivís ahí. No importa que no figure en tu DNI o no sea tu residencia habitual.</li>
      <li>Si te quieren hacer firmar cualquier cosa, tratá de leerlo primero, pero recordá que nada que firmes en una comisaría tiene validez legal en un juicio, siempre se puede impugnar después.</li>
      <li>Un médico/a tiene que revisarte al entrar y salir de la comisaría para certificar que no te hayan maltratado físicamente.</li>
      <li>Tenés derecho a negarte a que te extraigan sangre.</li>
      <li>Antes de declarar ante un juez debes recibir asesoramiento en privado de un abogado, sea particular o defensor oficial.</li>
      <li>Tenés derecho a negarte a declarar, sin que eso afecte tu situación.</li>
      <li>Si te sacan las pertenencias tienen que entregarte un recibo en el que figure un detalle de las mismas y que fueron retenidas por la autoridad policial.</li>
    </ul>
<p></p>
<p></p>
<p></p>
<p> </p>
<p> </p>




  </section>

  <section> 
    
  </section>

  <section> 
    
  </section>

</Layout>

