---
import Indice from "../components/Indice.astro"
import Layout from "../layouts/Layout.astro"
---
<Layout >
  <Indice />

  <section id="que-entendemos-por-violencia-institucional">
    <h2>¿Qué entendemos por violencia institucional?</h2>

    <p>Entendemos por violencia institucional, a toda violencia física, psíquica o verbal ejercida por miembros de las fuerzas de seguridad, fuerzas armadas, servicio penitenciario o efectores de salud en contexto de restricción de la autonomía, que afecte la libertad, la integridad o la dignidad de una persona. </p>
  </section>

  <section id="tengo-derecho-a">
    <h2> Tengo Derecho a:</h2>
    <p>Transitar libremente sin que las fuerzas de seguridad me detengan, solo me pueden detener si existe una orden judicial o una sospecha de haber cometido un delito o contravención.</p>
    <p>Si bien no es obligatorio, <strong>es importante circular con D.N.I.</strong>, o cualquier otro documento que acredite tu identidad. <strong>No pueden retener tu DNI.</strong></p>
    <p>Solo en caso de que exista una sospecha fundada y no tengas ninguna identificación, la policía puede demorarte para averiguar tu identidad sin necesidad de contar con una orden judicial. Esta privación de tu libertad nunca puede extenderse por más de 12 horas en la Provincia de Buenos Aires y 10 horas en CABA. </p>
    <p class="definicion">Requisa: Solo pueden revisar tus pertenencias sin orden judicial cuando se presuma la comisión de un delito, y es importante la individuación del objeto que se busca con tal requisa. Deben contar con la presencia de dos testigos. </p>
  </section> 

  <section id="cuando-me-detienen"> 
    <h2>¿Qué pasa cuando ya me detienen? </h2>
    <ul>
      <li>Deben dar aviso a <strong>Fiscalía, Juez y Defensoría</strong> oficial de turno. Tenés derecho a saber esa información y en qué dependencia estás, además de realizar una llamada telefónica con un familiar, persona de confianza, abogado o miembro de una organización.</li>
      <li>Es importante que no mientas respecto a tu nombre y edad.</li>
      <li>En el caso del domicilio, es importante que cuando vaya la policía a constatar alguien los atienda y diga que vivís ahí. No importa que no figure en tu DNI o no sea tu residencia habitual.</li>
      <li>Si te quieren hacer firmar cualquier cosa, tratá de leerlo primero, pero recordá que nada que firmes en una comisaría tiene validez legal en un juicio, siempre se puede impugnar después.</li>
      <li>Un médico/a tiene que revisarte al entrar y salir de la comisaría para certificar que no te hayan maltratado físicamente.</li>
      <li>Tenés derecho a negarte a que te extraigan sangre.</li>
      <li>Antes de declarar ante un juez debes recibir asesoramiento en privado de un abogado, sea particular o defensor oficial.</li>
      <li>Tenés derecho a negarte a declarar, sin que eso afecte tu situación.</li>
      <li>Si te sacan las pertenencias tienen que entregarte un recibo en el que figure un detalle de las mismas y que fueron retenidas por la autoridad policial.</li>
      <li>Si sos Migrante podes pedir comunicarte con tu embajada o consulado.</li>
    </ul>
  
    <h3>Si sos menor:</h3>
    <p>Si tenés menos de 18 años, la policía solo te puede detener si estás cometiendo un delito.</p>
    <p>No pueden trasladarte a una comisaría, ni alojarte en una celda con personas mayores de 18 años.</p>
    
    
    <p>Debe avisar/notificar a:</p>
    <ul>
      <li>Padres o tutores legales.</li>
      <li>Servicio local y servicio zonal de promoción y protección de los derechos del niño.</li>
      <li>Juzgado, fiscalía y defensoría del fuero penal juvenil.</li>
    </ul>
    <ul>
      <li class='strong'>No pueden esposarte ni encerrarte en calabozos ni en móviles policiales.</li>
      <li class='strong'>No pueden tomarte fotos o huellas digitales.</li>
      <li class='strong'>No pueden publicar datos personales ni imágenes que permitan individualizarte.</li>
    </ul>
  
    <p>Tenés derecho a comunicarte con tu familia, abogado/a, o persona de confianza.</p>
    <p>Es imprescindible que la madre, el padre o el adultx responsable vaya a la comisaría con la partida de nacimiento y/o la documentación pertinente (testimonio de la tutela, por ejemplo) para acreditar la minoridad y el vínculo.</p>
    <p>Si es en CABA deben trasladarte en caso de CABA Centro de Admisión y Derivación (CAD), ubicado en la calle Presidente Perón 2048.</p>
    <p>Si es en AMBA, no todos los municipios tienen CAD, pero no pueden alojarte en celdas con adultos.</p>  
  
    <h3>Respeto a la Identidad de Género</h3>
    <p>Deben respetar la identidad de género que adoptaste y el nombre de pila que usas, incluso cuando no hayas podido hacer la modificación del DNI.</p>
    <p>Podés elegir el género de la persona que te practique la requisa corporal y la revisación médica. </p>
    <p>No te pueden encerrar en una celda junto con otro género al que te autopercibas.</p>
    <p>Si estás amamantando tenés derecho a que permitan el ingreso de tu bebé. </p>
    <p>En todas las declaraciones que realices, es importante dejar expresado si estás embarazadx.</p>
  </section>

  <section id="que-hacemos-familiares-y-amigxs"> 
    <h2>¿Que hacemos los familiares, amigos y compañerxs?</h2>
    <p>Tanto vos como tu familia, amistades o compañeres tiene derecho a que las fuerzas les informen el lugar donde te encontrás, el delito que te acusan, el juzgado, fiscalía y defensoría que intervienen y qué medidas adoptaron.</p>
    <p>Es importante que nos acerquemos a la comisaría o llamemos por teléfono preguntando. No hace falta ser abogado para que te brinden información, y es importante que la policía sepa que alguien está interesado en la persona detenida.</p>

    
    <h3>Algunos de los tips para hablar con la comisaría son:</h3>
    <ul>
      <li>Pedir hablar con el Jefe de Servicio.</li>
      <li>Preguntar los motivos por los que está detenidx.</li>
      <li>Pueden pedir antecedentes penales, certificación de domicilio, médico  y luego ordenar la soltura o si llevarte al día siguiente para prestar declaración indagatoria. 
    </ul>
    
    
    <h3>Preguntas clave:</h3>
      <p class="definicion">¿Cuál es la Fiscalía, el Juzgado y la Defensoría Oficial que interviene? ¿Ya hicieron la consulta? ¿Qué instrucciones dieron?”. En general, piden planilla de antecedentes, vista médica, constatación de domicilio, y luego hacen una nueva consulta al juez o fiscal. Por eso quienes estamos en la comisaría debemos preguntar si llegó la planilla, si vino el médico y si constataron el domicilio, y cumplido eso, empezar con “¿Hicieron la nueva consulta? ¿Qué dispuso el juez/fiscal?”.</p>
   
    <p>Es importante ofrecer ayuda para constatar el domicilio, algunos Juzgados o Fiscalía lo hacen con la declaración de un familiar en la comisaría, otras lo hacen vía telefónica y otras piden que un patrullero vaya al domicilio. En este último caso es importante que haya alguien en la casa para atenderlos y decirles que el detenido vive allí. </p>
    <p>Si el juez ordena el traslado para indagarte, de inmediato tu familia o amigos tienen que ir al juzgado y averiguar qué defensor oficial está de turno e ir a verlo antes de la audiencia. </p>
    <p>Si te liberan sin llevarte a tribunales para que declares, no te olvides del asunto. Ni bien puedas acercate al juzgado o fiscalía, averiguá quién es tu defensor oficial y andá a verlo. </p>
    


    <h3>¿Qué hacemos si nos dicen que la persona no está detenida, o no nos dicen la causa de la detención?</h3>
    <p>Si sabemos que una persona fue detenida, pero en la comisaría nos niegan información o dicen que ellos no lo tienen, tenemos que presentar un HABEAS CORPUS. </p>
    <p>En cada lugar donde hay tribunales hay un juzgado de turno para HABEAS CORPUS, no debería importar la hora del día o de la noche. El que presenta el recurso no necesita  ser pariente del detenido. </p>
    <p>Tampoco hace falta hacerlo por escrito, ni se necesita un abogado. </p>
    <p>Cualquiera, mayor o menor, puede hacer un habeas corpus si cree que alguien esta ilegalmente detenido. </p>
    <p>El juez tiene que comunicarse con todas las comisarías (o con la que vos le digas) hasta encontrar la persona, saber porqué la detuvieron, y te lo tiene que informar.</p>
    <p><strong>Si la detención es técnicamente ilegal, tiene que ordenar la libertad.</strong></p>

  </section>

  <section id="allanamiento">
    <h2>Allanamiento</h2>
    <ul>
      <li>Deben mostrarnos previamente la orden de allanamiento para su lectura completa y posteriormente otorgarnos una copia. </li>
      <li>Debe haber testigos observando el accionar policial desde el inicio hasta la finalización del allanamiento. </li>
      <li>La policía no puede llevarse nada que no esté específicamente señalado en la Orden Judicial. </li>
      <li>Se debe confeccionar un acta a la finalización del allanamiento y solicitar una copia de la misma.</li>
    </ul>

    <h3>Si ejercieron violencia institucional podés denunciar:</h3>
    <p>Si fuiste víctima de golpes, maltratos o torturas, tenés que ir de forma inmediata a un hospital o a un centro de salud y pedir un certificado que dé cuenta de tu estado de salud o registrá las lesiones a través de fotos o videos.</p>
    <p>Intenta recordar o tomar nota de: fechas, horarios, lugares, nombres, fuerza policial o de seguridad que intervino, número de chapa del oficial responsable, número del móvil, patente, rasgos físicos, testigos, etc</p>
    <p>No hay una prohibición legal de registrar mediante teléfonos celulares la detención o el operativo. </p>
    <p>Para denunciar no necesitas abogado.</p>
<br>
    <h3>Si la detención fue en CABA:</h3>
    <p><strong>-Ministerio Público de la Defensa (CABA)</strong></p>
    <p class="inter">0800 33 336 337 (DEFENDER)</p>
    <br>
    
    <p><strong>-Ministerio Público de la Defensa (Nacional)</strong></p>
    <p class="inter">Av. Callao 970, C1023, CABA</p>
    <p class="inter">+(54)11 4814-8400</p>
  </section>

  <section id="donde-denunciar">
    <h2>¿Dónde puedo denunciar cuando sufrí violencia institucional?</h2>

    <p>Ante las fiscalías y/o juzgados de todo el país. Todos tienen la obligación de recibir las denuncias en el mismo momento en que se realizan.</p>
    
    <h3>CABA</h3>
    <p><strong>Procuraduría de Violencia Institucional (PROCUVIN)</strong></p>
    <p class="inter">Tte. Gral. Juan Domingo Perón 667, 2do piso, CABA.</p>
    <p class="inter">Atención: lunes a viernes de 9 a 17 horas. (011) 6089-9054 / 9060</p>
    <p class="inter">procuvin@mpf.gob.ar</p>
    <br>

    <p><strong>Dirección General de Acompañamiento, Orientación y Protección a las Víctimas (DOVIC)</strong></p>
    <p class="inter">Programa Especial para la Atención a Víctimas de Violencia Policial</p>
    <p class="inter">Tte. Gral. Juan Domingo 671, Planta Baja, CABA.</p>
    <p class="inter">Atención: lunes a viernes de 9 a 17 horas. (011) 6089-9114 / 9135</p>
    <p class="inter">dovic@mpf.gob.ar</p>
    <br>

    <p><strong>Oficinas de la Dirección General de Acceso a la Justicia (ATAJO)</strong></p>
    <p class="inter">Tte. Gral. Juan Domingo Perón 667, 1er. Piso, CABA.</p>
    <p class="inter">Atención: lunes a viernes de 9 a 15 horas.</p>
    <p class="inter">(011) 6089 - 9089 </p>
    <br>

    <p class="inter">ATAJO Villa 31: Calle Playón, Galpón Nº1 de la Estación de Carga del Ferrocarril San Martín. </p>
    <p class="inter">ATAJO Villa 31 bis: Barrio “Cristo Obrero” Av. Calle 12 y Pres. Ramon Castillo.</p>
    <p class="inter">ATAJO Villa 20: Pola y Fernández de la Cruz. ATAJO Villa 1-11-14: Av. Riestra y Camilo Torres. </p>
    <p class="inter">ATAJO Villa 21-24: Iriarte 3500. </p>
    <p class="inter">ATAJO Barrio Mitre (Saavedra): Plaza Barrio Mitre.</p>
    <p class="inter">ATAJO Ciudad Oculta: SUM Manzana 28 Casa 16. </p>
    <br>

    <h3>AMBA</h3>
    <p class="inter"><strong>Dirección de recepción de denuncias por Violaciones a los Derechos Humanos</strong></p>
    <p class="inter">0800-666-0943  (Todos los días, las 24 horas)</p>
    <p class="inter">Whatsapp: 221-5895591 (Lunes a viernes de 8 a 20 hs)</p>
    <p class="inter">denunciasdh.mjus.gba.gob.ar</p>
    <p class="inter">(221) 4893965/66/67 int. 103-113 (Lunes a Viernes de 8 A 18 hs)</p>
    <p class="inter">violenciainstitucional.sdh@mjus.gba.gob.ar</p>
    <p class="inter">Todos los días, las 24 hs Derechos Humanos PBA: av. 53 N°653, La Plata (1900).</p>
    <br>

    <p><strong>Comisión Provincial por la Memoria</strong></p>
    <p class="inter">Calle 54 N° 487 | 1900 | La Plata | Buenos Aires | Argentina </p>
    <p class="inter">Tel.: + 54 221 4262900 </p>
    <p class="inter">secretaria@comisionporlamemoria.org</p>
    <br>

    <p><strong>Ministerio de Seguridad de la Provincia de Buenos Aires</strong></p>
    <p class="inter">La denuncia contra las Fuerzas de seguridad  puede ser anónima y realizarse a la línea telefónica gratuita:</p>
    <p class="inter">0800-999-8358 (denuncias las 24 h).</p>
    <p class="inter">Por correo electrónico: denunciasai@mseg.gba.gov.ar </p>
    <p class="inter">Personalmente en la Oficina de Denuncias y Asesoramiento de la Auditoría General de Asuntos Internos sita en calle 51 Nro. 779 e/ 10 y 11 de la ciudad de La Plata (denuncias las 24 h) </p>
    <br>

    <h3>Resto del País</h3>
    <p class="inter">ATAJO Mar del Plata: Av. Independencia 3179.</p>
    <p class="inter">ATAJO Rosario: Estrella Federal y Guaria Morada. ATAJO Mendoza: Pedro Molina 171, 3° piso, oficina 3. </p>

  </section>

</Layout>

