<header id="top">
  <div class="logo-container">
    <img src="/acvi-logo.svg" alt="" width="300px" height="100px" style="background-color: transparent;">
  </div>

</header>

<style>


.logo-container{
  background-color: transparent;
}
 
</style>
