


  <div id="hero-container">
    
    <div class="titulo">
      <p class="hero bold">MANUAL</p>
      <p class="hero ">frente a la</p>
      <p class="hero bold">VIOLENCIA</p>
      <p class="hero ">institucional</p>
    </div>
  </div>

  
<style>
  #hero-container{
    padding: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: linear-gradient(to right, rgba(15, 42, 125, 0) 35%, hsl(240, 100%, 97%)), url('tapa.png');
    background-size: cover;
    background-position: center;
  }
  .titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    background-color: transparent;
    margin: 30px 10px 0 0;
  }
  
  .hero {
    text-align: left;
    font-size: 10vw;
    font-family: 'Clash-Display';
    line-height: 1.1rem;
    background-color: transparent;
  }
  
  .bold {
    font-weight: bold;
  }

  @media screen and (min-width: 901px){
    .hero {
      font-size: 90px;
    }
    
  }
</style>