<div id="indice">
  <nav>
    <ol>
      <li><a href="#que-entendemos-por-violencia-institucional">¿Qué entendemos por violencia institucional?</a></li>
      <li><a href="#cuando-me-detienen">¿Qué pasa cuando me detienen?</a></li>
      <li>¿Qué hacemos familiares y compañerxs?</li>
      <li>Allanamiento</li>
      <li>¿Donde puedo denunciar si sufrí violencia institucional?</li>
    </ol>
  </nav>
</div>