<div id="indice">
  <nav>
    <ol>
      <li><a href="#que-entendemos-por-violencia-institucional">¿Qué entendemos por violencia institucional?</a></li>
      <li><a href="#cuando-me-detienen">¿Qué pasa cuando me detienen?</a></li>
      <li><a href="#que-hacemos-familiares-y-amigos">¿Qué hacemos familiares y compañerxs?</a></li>
      <li><a href="#allanamiento">Allanamiento</a></li>
      <li><a href="#donde-denunciar">¿Donde puedo denunciar si sufrí violencia institucional?</a></li>
    </ol>
  </nav>
</div>