---
import "../styles/global.css"
import Encabezado from "../components/Encabezado.astro";
import Pie from '../components/Pie.astro'
import Top from "../components/Top.astro";
---

<html lang="es-AR">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
        <meta name="description" content="que hacer frente a la violencia institucional.">
		<title>Manual Frente a la Violencia Institucional | ACVI</title>
	</head>
	<body>
    <div class="wrapper">    
			<Encabezado />
			<main>
					<slot></slot>
			</main>
			<Top />
			<Pie /> 
		</div>
	</body>
</html>

<style>
	
</style>